<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDataDAO" class="ru.energy778.testing.dao.TestDataDAOCSV" />

    <bean id="checkService" class="ru.energy778.testing.service.CheckServiceImpl">
    </bean>

    <bean id="testingService" class="ru.energy778.testing.service.TestingServiceImpl">
    </bean>

    <bean id="loadTestService" class="ru.energy778.testing.service.LoadTestServiceImpl">
        <constructor-arg name="dao" ref="testDataDAO"/>
    </bean>

</beans>
